<input class="login" type="button" value="点击登录" />
<header>
    <b class="icon_home i_bef" id="js_home"></b>
    <h1>
        博客园</h1>
    <i id="js_return" class="returnico"></i>
</header>
<section class="cont_wrap" style="margin: 17px 0 40px;">
    <ul class="pro_list" id="lstbox">
        <li class="arr_r">
            <figure class="pro_list_imgbox">
                <img src="http://images4.c-ctrip.com/target/hotel/49000/48952/70EB0AADE33644F2B410D4F3CCE9E298_130_130.Jpg" />
                <figcaption class="figcaption">
                    <i>上季热卖</i><span>已售2222份</span>
                </figcaption>
            </figure>
            <div class="pro_list_info">
                <h4 class="pro_list_tit">
                    上海西郊宾馆上海西郊宾馆上海西郊宾馆上海西郊宾馆上海西郊宾馆</h4>
                <p class="pro_list_rank">
                    <span class="font_blue"><i>3.5</i>分</span> 豪华酒店</p>
                <p class="pro_list_oldprice">
                    <del>原价&yen;130</del> 4.8折</p>
                <div class="pro_list_prv">
                    <p class="pro_list_price">
                        &yen;<i>130</i>-<em>30</em></p>
                    <i class="pro_list_prvicon">立减</i>
                </div>
            </div>
            <a href="#/addr">xxxxxxxxxxxxxx</a>
        </li>
    </ul>
</section>
<ul class="tab_search fix_bottom">
    <li class="tabcrt">登录</li>
    <li class="tab_hotel jsHotel">注册</li>
</ul>