
<div class="page polling-result current" id="polling-result">
  <div class="header ship-polling-result-header"><a href="index.html" class="back"></a>查询结果</div>
  <div class="polling-result-content content" id="polling-result-content">
    <div class="ship-polling-result-scroll scroll" id="ship-polling-result-scroll">
    <ul class="ship-detail-addr">
      <li><em>始</em><p class="oneline">TAISHAN,GUANGDONG</p></li>
      <li><em>终</em><p>DAYAOWAN,DALIAN<br/>(大连大窑湾)</p></li>
    </ul>
    <div  class="ship-polling-result-table">
      <table width="100%" border="1">                  
        <tr>
          <th height="40" align="center" valign="middle" bgcolor="#fff" scope="col"><a href="#detail">CARRIER</a> </th>
          <th height="40" align="center" valign="middle" bgcolor="#fff" scope="col">20GP</th>
          <th height="40" align="center" valign="middle" bgcolor="#fff" scope="col">40GP</th>
          <th height="40" align="center" valign="middle" bgcolor="#fff" scope="col">40HC</th>
          <th height="40" align="center" valign="middle" bgcolor="#fff" scope="col">CLS/ETD</th>
        </tr>
        <tr>                            
          <td height="40" align="center" valign="middle">COSCO</td>
          <td height="40" align="center" valign="middle" class="orage">1253</td>
          <td height="40" align="center" valign="middle" class="orage">2800</td>
          <td height="40" align="center" valign="middle" class="orage">1164</td>
          <td height="40" align="center" valign="middle">3/4 <i></i></td>
        </tr>
        <tr class="active">                            
          <td height="40" align="center" valign="middle">COSCO</td>
          <td height="40" align="center" valign="middle" class="orage">1253</td>
          <td height="40" align="center" valign="middle" class="orage">2800</td>
          <td height="40" align="center" valign="middle" class="orage">1164</td>
          <td height="40" align="center" valign="middle">3/4 <i></i></td>
        </tr>
        <tr>                            
          <td height="40" align="center" valign="middle">COSCO</td>
          <td height="40" align="center" valign="middle" class="orage">1253</td>
          <td height="40" align="center" valign="middle" class="orage">2800</td>
          <td height="40" align="center" valign="middle" class="orage">1164</td>
          <td height="40" align="center" valign="middle">3/4 <i></i></td>
        </tr>
          <tr>                            
          <td height="40" align="center" valign="middle">COSCO</td>
          <td height="40" align="center" valign="middle">1253</td>
          <td height="40" align="center" valign="middle">2800</td>
          <td height="40" align="center" valign="middle">1164</td>
          <td height="40" align="center" valign="middle">3/4 <i></i></td>
        </tr>
        <tr>                            
          <td height="40" align="center" valign="middle">COSCO</td>
          <td height="40" align="center" valign="middle">1253</td>
          <td height="40" align="center" valign="middle">2800</td>
          <td height="40" align="center" valign="middle">1164</td>
          <td height="40" align="center" valign="middle">3/4 <i></i></td>
        </tr>
        <tr>                            
          <td height="40" align="center" valign="middle">COSCO</td>
          <td height="40" align="center" valign="middle">1253</td>
          <td height="40" align="center" valign="middle">2800</td>
          <td height="40" align="center" valign="middle">1164</td>
          <td height="40" align="center" valign="middle">3/4 <i></i></td>
        </tr>
      </table>
    </div>
    </div>
  </div>
  <div class="ship-polling-result-footer">
    <a href="javascript::">船公司</a>
    <ul>
      <li>20GP<em></em><i></i></li>
      <li class="active active1">40GP  <em></em><i></i></li>
      <li>40HC<em></em><i></i></li>
    </ul>
  </div>
</div>
